@page "/DataGrid"
@inject HttpClient Http

<h1>Grades</h1>

<p>This component demonstrates my grades</p>

@if (Enrolments == null) {
    <div>Loading...</div>
} else { 
    <DxDataGrid Data="@Enrolments" CssClass="mw-1100" PageSize="50">
        <HeaderTemplate>
            <DxToolbar>
                <DxDataGridColumnChooserToolbarItem Alignment="ToolbarItemAlignment.Right" />
            </DxToolbar>
        </HeaderTemplate>
        <Columns>
            <DxDataGridColumn Field=@nameof(Enrolment.ID) Caption="ID" TextAlignment="@DataGridTextAlign.Center"/>
            <DxDataGridColumn Field=@nameof(Enrolment.Course) Caption="Course" />
            <DxDataGridColumn Field=@nameof(Enrolment.Grade) Caption="Grade" />
            <DxDataGridColumn Field=@nameof(Enrolment.AvgGradeClass) Caption="Avg. Grade Class" />
            <DxDataGridColumn Field=@nameof(Enrolment.DifAvg) Caption="Difference Avg. Grade Class" />
        </Columns>
    </DxDataGrid>
}

@code {
    private IEnumerable<Enrolment> Enrolments;

    protected override async Task OnInitializedAsync() {
        Enrolments = await Http.GetFromJsonAsync<IEnumerable<Enrolment>>("sample-data/grades.json");
    }

    public class Enrolment {
        public int ID { get; set; }
        public int ECTS { get; set; }
        public string Course { get; set; } 
        public string Term { get; set; }
        public DateTime Date { get; set; }
        public int Year { get; set; }
        public string IntlGrade { get; set; }
        public int Grade { get; set; }
        public double AvgGradeClass { get; set; }
        public double DifAvg { get; set; }
    }
}