@page "/DataGrid"

@if (DataSource == null) {
    <div>Loading...</div>
} else {
    <DxDataGrid Data="@DataSource">
        <DxDataGridDateEditColumn Field=@nameof(WeatherForecast.Date) />
        <DxDataGridColumn Field=@nameof(WeatherForecast.TemperatureC) Caption="Temp. (C)" />
        <DxDataGridSpinEditColumn Field=@nameof(WeatherForecast.TemperatureF) Caption="Temp. (F)" />
    </DxDataGrid>

    <DxDataGrid Data="@Enrolments">
        <DxDataGridColumn Field=@nameof(Enrolment.Name) Caption="Temp. (C)" />
    </DxDataGrid>
}

@code {
    IEnumerable<WeatherForecast> DataSource;
    IEnumerable<Enrolment> Enrolments;

    public class WeatherForecast {
        public DateTime Date { get; set; }
        public int TemperatureC { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

    protected override async Task OnInitializedAsync() {
        DataSource = await GetForecastAsync();
        Enrolments = await GetEnrolmentsAsync();
    }

    public Task<IEnumerable<WeatherForecast>> GetForecastAsync() {
        var rng = new Random();
        DateTime startDate = DateTime.Now;
        return Task.FromResult(Enumerable.Range(1, 15).Select(index => new WeatherForecast {
            Date = startDate.AddDays(index),
            TemperatureC = rng.Next(-15, 20),
        }).AsEnumerable());
    }

    public class Enrolment {
        public String Name { get; set; }
        public int ECTS { get; set; }
        public String Term { get; set; }
        public DateTime Date { get; set; }
        public int Grade { get; set; }
    }

    public Task<IEnumerable<Enrolment>> GetEnrolmentsAsync() {
        var rng = new Random();

        return Task.FromResult(Enumerable.Range(1, 2).Select(index => new Enrolment {
            Name = "Nyt",
            ECTS = 10
        }).AsEnumerable());
    }
}