@inherits LayoutComponentBase

<nav class="logo-container p-0 navbar navbar-dark">
    <NavMenu1 />
</nav>

<div class="demo-content desktop-sidebar-shown">
    
    <div class="sidebar">
        <NavMenu2 />
    </div>

    @* <div class="top-row px-4">
        <a href="/" target="_blank">
            <img src="images/profile.PNG" alt="Rasmus Schjerbeck Nielsen">
        </a>

        <p>Rasmus Schjerbeck Nielsen</p>
        <p>Rasmus Schjerbeck Nielsen</p>

        <div class="ribbon">
            <i><span>CV</span></i>
        </div>
    </div> *@

    <div class="content px-4">
        @Body
    </div>
</div>

