<button class="navbar-toggler d-block bg-primary border-0">
    <span class="navbar-toggler-icon"></span>
</button>

<h1>Rasmus Nielsen</h1>
<p>Rasmus Nielsen</p>

@* <a href="/" class="logo-image text-body active"></a> *@

<div class="demo-btn-container d-flex">
    <a class="download-btn navbar-toggler d-inline-block bg-primary text-white border-0" href="https://nuget.devexpress.com/" target="_blank" title="Obtain your NuGet feed URL">
        <span class="demo-download-icon"></span>
    </a>

    <div class="bg-light text-dark d-inline-block theme-settings False">
        <a class="nav-item nav-link" href="#">
            <span class="demo-theme-icon"></span>
        </a>
    </div>

</div>