
<nav class="dxbs-tree app-sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" href="">
                <span aria-hidden="true" class="invisible dxbs-non-clickable expand-btn btn btn-link">
                    <span class="demo-icon-expand"></span>
                </span>
                <span>Overview</span>
            </a>
        </li>

        @* Grades / CV *@
        <li class="nav-item" role="presentation">
            <a class="nav-link dxbs-clickable" href="/datagrid">
                <span aria-hidden="true" class="expand-btn btn btn-link">
                    <span class="demo-icon-expand"></span>
                </span>

                <span>Data Grid</span>
            </a>
        </li>
    </ul>



</nav>

